<div class="container mt-4" style="min-height: 100vh;">
  <nav class="navbar bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" style="display: flex; align-items: center;">
        <img src="../assets/img/bot.avif" alt="Logo" width="55" height="55"
          class="d-inline-block align-text-top mt-auto">
        <span class="ml-2">Student Job Profile AI</span>
      </a>
    </div>
  </nav>
   

  <!-- Sección del estado del servidor -->
  <div class="mt-4">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">🖥️ Estado del Servidor</h5>
            <p class="card-text" id="serverStatus">{{status_server}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showClassifierProfile">
    <div class="alert alert-primary mt-4" role="alert">
      {{profileClassfier}}
    </div>
  </div>
  <!-- 
  <div class="mt-4">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Algoritmo 🤓</h5>
            <p class="card-text">El mejor algoritmo de clasificacion ha sido el de Bayes</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Porcentaje promedio 🧠</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Algoritmo </h5>
            <p class="card-text">El mejor algoritmo de clasificacion ha sido el de Bayes</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Porcentaje promedio</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
-->
  <form class="mt-4">
    <div class="row">
      <div class="col-md-6">
        <label for="EstrucuraDeDatos" class="form-label">
          Estructura de Datos 
          <span class="ml-2" id="percentage1">{{profile.DSA}}%</span>
        </label>
        <input 
          type="range" 
          [(ngModel)]="profile.DSA" 
          (input)="onRangoChange($event, 'DSA')"  
          name="profile.DSA"
          class="form-range" 
          id="customRange1" 
          min="0" 
          max="100" 
          step="1"
        >
       </div>
      <div class="col-md-6">
        <label for="GestionBD" class="form-label">
          Gestión de bases de datos 
          <span class="ml-2" id="percentage1">{{profile.DBMS}}%</span>
          </label>
          <input 
          type="range" 
          [(ngModel)]="profile.DBMS" 
          (input)="onRangoChange($event, 'DBMS')"  
          name="profile.DBMS"
          class="form-range" 
          id="customRange1" 
          min="0" 
          max="100" 
          step="1"
        >
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="customRange2" class="form-label">Sistemas operativos
           <span class="ml-2"id="percentage1">{{profile.OS}}%</span>
        </label>
        <input 
        type="range" 
        [(ngModel)]="profile.OS" 
        (input)="onRangoChange($event, 'OS')"  
        name="profile.OS"
        class="form-range" 
        id="customRange1" 
        min="0" 
        max="100" 
        step="1"
      >
      </div>
      <div class="col-md-6">
        <label for="customRange1" class="form-label">Redes de computadoras
          <span class="ml-2"id="percentage1">{{profile.CN}}%</span>
        </label>
        <input 
        type="range" 
        [(ngModel)]="profile.CN" 
        (input)="onRangoChange($event, 'CN')"  
        name="profile.CN"
        class="form-range" 
        id="customRange1" 
        min="0" 
        max="100" 
        step="1"
      >
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="customRange2" class="form-label">Conocimientos Matematicas 
          <span class="ml-2"id="percentage1">{{profile.Mathmetics}}%</span>
        </label>
          <input 
          type="range" 
          [(ngModel)]="profile.Mathmetics" 
          (input)="onRangoChange($event, 'Mathmetics')"  
          name="profile.Mathmetics"
          class="form-range" 
          id="customRange1" 
          min="0" 
          max="100" 
          step="1"
        >
      </div>
      <div class="col-md-6">
        <label for="customRange1" class="form-label">Aptitudes 
          <span class="ml-2"id="percentage1">{{profile.Aptitude}}%</span>
        </label>
        <input 
        type="range" 
        [(ngModel)]="profile.Aptitude" 
        (input)="onRangoChange($event, 'Aptitude')"  
        name="profile.Aptitude"
        class="form-range" 
        id="customRange1" 
        min="0" 
        max="100" 
        step="1"
      >
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="customRange2" class="form-label">Comunicacion 
          <span class="ml-2"id="percentage1">{{profile.Comm}}%</span>
        </label>
        <input 
        type="range" 
        [(ngModel)]="profile.Comm" 
        (input)="onRangoChange($event, 'Comm')"  
        name="profile.Comm"
        class="form-range" 
        id="customRange1" 
        min="0" 
        max="100" 
        step="1"
      >
      </div>
      <div class="col-md-6">
        <label for="customRange1" class="form-label">Habilidad para resolver problemas 
          <span class="ml-2"id="percentage1">{{profile.Problem_Solving}}%</span>
        </label>
        <input 
        type="range" 
        [(ngModel)]="profile.Problem_Solving" 
        (input)="onRangoChange($event, 'Problem_Solving')"  
        name="profile.Problem_Solving"
        class="form-range" 
        id="customRange1" 
        min="0" 
        max="10" 
        step="1"
      >
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="customRange2" class="form-label">Creatividad 
          <span class="ml-2"id="percentage1">{{profile.Creative}}%</span>
        </label>
        <input 
        type="range" 
        [(ngModel)]="profile.Creative" 
        (input)="onRangoChange($event, 'Creative')"  
        name="profile.Creative"
        class="form-range" 
        id="customRange1" 
        min="1" 
        max="10" 
        step="1"
      >
      </div>
      <div class="col-md-6">
        <label for="customRange1" class="form-label">Hackathons
          <span class="ml-2"id="percentage1">{{profile.Hackathons}}%</span>
        </label>
        <input 
        type="range" 
        [(ngModel)]="profile.Hackathons" 
        (input)="onRangoChange($event, 'Hackathons')"  
        name="profile.Hackathons"
        class="form-range" 
        id="customRange1" 
        min="0" 
        max="10" 
        step="1"
      >
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <!-- Habilidad Primaria -->
    <label for="habilidadPrimaria" class="form-label">Habilidad Primaria</label>
    <select class="form-select" id="habilidadPrimaria" aria-label="Habilidad Primaria" [(ngModel)]="profile.Skill_1" name="profile.Skill_1" (change)="onSkillSelect($event, 'Skill_1')">
      <option selected disabled>Selecciona una habilidad</option>
      <option value="1">Javascript</option>
      <option value="2">HTML/CSS</option>
      <option value="3">Photoshop</option>
      <option value="4">GitHub</option>
      <option value="5">Figma</option>
      <option value="6">Node.js</option>
      <option value="7">Angular</option>
      <option value="8">React</option>
      <option value="9">Python</option>
      <option value="10">R</option>
      <option value="11">Tensorflow</option>
      <option value="12">Deep Learning</option>
      <option value="13">Ansible</option>
      <option value="14">Pytorch</option>
      <option value="15">Machine Learning</option>
      <option value="16">C/C++</option>
      <option value="17">Java</option>
      <option value="18">MYSQL</option>
      <option value="19">Oracle</option>
      <option value="20">Linux</option>
      <option value="21">BASH/SHELL</option>
      <option value="22">Cisco Packet tracer</option>
      <option value="23">Wire Shark</option>
    </select>

      </div>
      <div class="col-md-6 ">
        <label for="habilidadPrimaria" class="form-label">Habilidad Primaria</label>
        <select class="form-select" id="habilidadPrimaria" aria-label="Habilidad Primaria" [(ngModel)]="profile.Skill_2" name="profile.Skill_2" (change)="onSkillSelect($event, 'Skill_2')">
          <option selected disabled>Selecciona una habilidad</option>
          <option value="1">Javascript</option>
          <option value="2">HTML/CSS</option>
          <option value="3">Photoshop</option>
          <option value="4">GitHub</option>
          <option value="5">Figma</option>
          <option value="6">Node.js</option>
          <option value="7">Angular</option>
          <option value="8">React</option>
          <option value="9">Python</option>
          <option value="10">R</option>
          <option value="11">Tensorflow</option>
          <option value="12">Deep Learning</option>
          <option value="13">Ansible</option>
          <option value="14">Pytorch</option>
          <option value="15">Machine Learning</option>
          <option value="16">C/C++</option>
          <option value="17">Java</option>
          <option value="18">MYSQL</option>
          <option value="19">Oracle</option>
          <option value="20">Linux</option>
          <option value="21">BASH/SHELL</option>
          <option value="22">Cisco Packet tracer</option>
          <option value="23">Wire Shark</option>
        </select>
      </div>
    </div>

    <div class="row">
      <button type="button" class="mt-4 mb- btn btn-primary" (click)="submit()">Clasificar</button>
    </div>
  </form>
</div>